/**
 *
 * Modals v5.1.0
 * Simple modal dialogue pop-up windows, by Chris Ferdinandi.
 * http://gomakethings.com
 *
 * Free to use under the MIT License.
 * http://gomakethings.com/mit/
 *
 */
/*  Hide modal window by default */
.modal {
  display: none;
  visibility: hidden;
  z-index: 9999;
  background-color: white;
  border: 0.0725em solid #e5e5e5;
  padding: 0.5em 1em;
  border-radius: 0.0725em;
  -webkit-box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
}

/*  When active, show modal window */
.modal.active {
  display: block;
  visibility: visible;
  position: absolute;
  top: 15%;
  left: 3%;
  right: 3%;
  margin-left: auto;
  margin-right: auto;
}

/*  Styling for modal window background */
.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #272727;
  opacity: .9;
  filter: alpha(opacity=90);
}

/*  Styling for close button */
.close {
  float: right;
  color: gray;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

/*  Styling for close button on hover */
.close:hover {
  color: #5a5a5a;
  text-decoration: none;
  cursor: pointer;
}

/*  Modal styling for bigger screens */
@media (min-width: 40em) {
  .modal.active {
    left: 8%;
    right: 8%;
  }

  /* Set max-width on medium sized modals */
  .modal-medium.active {
    max-width: 35em;
  }

  /* Set max-width on small sized modals */
  .modal-small.active {
    max-width: 25em;
  }
}
