/*  Hide modal window by default */
.modal {
	display: none;
	visibility: hidden;
	z-index: 9999;
	background-color: $color-white;
	border: calc-em(1px) solid $color-gray-light;
	padding: calc-em(8px) calc-em(16px);
	border-radius: calc-em(1px);
	box-shadow: 0 calc-em(4px) calc-em(8px) rgba(0, 0, 0, 0.3);
}

/*  When active, show modal window */
.modal.active {
	display: block;
	visibility: visible;
	position: absolute;
	top: 15%;
	left: 3%;
	right: 3%;
	margin-left: auto;
	margin-right: auto;
}

/*  Styling for modal window background */
.modal-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	background-color: $color-black;
	opacity: .9;
	filter: alpha(opacity=90);
}

/*  Styling for close button */
.close {
	float: right;
	color: $color-gray-dark;
	font-weight: bold;
	font-size: calc-em(24px);
	cursor: pointer;
}

/*  Styling for close button on hover */
.close:hover {
	color: darken( $color-gray-dark, 15% );
	text-decoration: none;
	cursor: pointer;
}


/*  Modal styling for bigger screens */
@media (min-width: $bp-medium) {
	.modal.active {
		left: 8%;
		right: 8%;
	}

	/* Set max-width on medium sized modals */
	.modal-medium.active {
		max-width: 35em;
	}

	/* Set max-width on small sized modals */
	.modal-small.active {
		max-width: 25em;
	}
}